// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #8BCBC8
$secondary : #ECC7C0
$accent    : #DAE9E4

$dark      : #3C2E3D
$dark-page : #3C2E3D

$positive  : #DAE9E4
$negative  : #ECC7C0
$info      : #8BCBC8
$warning   : #FDAE84
